.spinner-overlay {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.modal-box {
  background-color: #ffffff;
  padding: 2.5rem;          
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1); 
  max-width: 38rem;       
  max-height: 19rem;
  text-align: center;
}

.container {
  max-width: 66rem;
  margin: auto;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  min-height: 58rem;
  transition: filter 0.3s ease;
}

.assign-heading {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.assign-form__label {
  font-size: 1.25rem;
  font-weight: 550;
  display: block;
  margin-bottom: 0.5rem;
}

.assign-form__input {
  background-color: #f9f9f9;
  border-radius: 0;
  border-color: #f9f9f9;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 410;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.assign-form__input:focus {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.asset-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.search-input-wrapper {
  position: relative;
  width: 30.5rem
}

.asset-search-bar__input {
  width: 100%;
  height: 3.2rem;
  border: 1px solid #3b883e;
  border-radius: 0.3rem;
  padding: 0 3rem 0 1rem;
  background-color: #f9f9f9;
  color: #777986;
  font-size: 1rem;
  font-weight: 400;
}

.asset-search-bar__input:focus {
  outline: none;
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.search-icon-btn {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: #e9eaf0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon-btn:hover {
  background-color: #dcdde4;
}

.filter-btn {
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #e9eaf0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #dcdde4;
}

.asset-card {
  cursor: pointer;
  border: 1px solid #ccc;
  width: 56rem;
  transition: 0.3s ease;
}

.asset-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.asset-card--selected {
  border: 2px solid #3b883e;
  background-color: #f0fdf4;
}

.section-title {
  font-size: 0.8rem;
  font-weight: 700;
  display: block;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;

}

.form-check-input {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 0.3rem;
  border: 2px solid #cfd3dc;
  accent-color: #3b883e;
}

.form-check-input:checked {
  background-color: #3b883e !important;
  border-color: #3b883e !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(59, 136, 62, 0.25);
}

.form-check-label {
  font-size: 1rem;
  color: #222;
}

.label-small {
  font-size: 0.75rem;
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
  color: #555;
}

.form-select {
  width: 100%;
  border: 1px solid #cfd3dc;
  border-radius: 0.6rem;
  padding: 0.5rem 0.6rem;
  background-color: white;
  font-size: 0.8rem;
}

.apply-btn {
  width: 100%;
  background-color: #3B883E;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.apply-btn:hover {
  background-color: #2e6e30;
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 998;
}

.filter-slideout {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 18.75rem; 
  background-color: #f5f6fa;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
  padding: 1.25rem;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  overflow-y: auto;
}

.filter-slideout.show {
  transform: translateX(0);
}


.clear-btn {
  width: 100%;
  background-color: transparent;
  color: #3b883e;
  font-weight: bold;
  padding: 0.6rem;
  border: 2px solid #3b883e;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.clear-btn:hover {
  background-color: #3b883e;
  color: white;
}

.text-clear-btn {
  background: transparent;
  border: none;
  color: black;
  font-weight: 500;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.text-clear-btn:hover {
  text-decoration: underline;
}

.btn.btn-secondary:disabled {
  background-color: #e0e0e0;
  color: #999;
  border-color: #ccc;
  cursor: not-allowed;
}
