/***Containers***/
.lg-form-container {
  max-width: 580px;
  height: 340px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.077);
}

/***Images***/
.img-logo {
  width: 8rem;
  height: 6rem;
}
.windows-logo {
  width: 2rem;
  height: 2rem;
}

/***Buttons***/
.login-btn {
  padding: 1rem;
  font-weight: bold;
  background-color: #36813c;
  color: white;
  border-radius: 50px;
  border: none;
  display: flex;
  gap: 0.5rem;
}
.login-btn:hover {
  background-color: #36813cd2;
}
.lg-form-btn-log {
  font-weight: bold;
  color: white;
  font-size: larger;
}
