<div class="side-bar">
  <img class="logo" src="exaze-logo.jpg" alt="" />
  <div class="profile-container">
    <div class="mt-2 profile-icon"></div>
    <div class="profile-creds">
      <p class="employee-name">Employee Name</p>
      <p class="employee-email">email.address.example</p>
    </div>
  </div>
  <div class="p-4 dashboard-title-container">
    <img src="dashboard-icon.png" class="dashboard-icon" alt="" />
    <h1 class="dashboard-title">Dashboard</h1>
  </div>
  <div class="d-flex flex-column p-4">
    <ul class="side-nav-list">
      <li>
        <span class="d-flex align-items-center gap-2">
          <img src="manage-asset-icon.png" alt="" />
          Manage Assets
        </span>
      </li>
      <li>
        <span class="d-flex align-items-center gap-2">
          <img src="Assign-asset-icon.png" alt="" />
          Assign Asset
        </span>
      </li>
      <li>
        <span class="d-flex align-items-center gap-2">
          <img src="view-request-icon.png" alt="" />
          View Requests
        </span>
      </li>
      <li>
        <span class="d-flex align-items-center gap-2">
          <img src="view-repairs-icon.png" alt="" />
          Repair Requests
        </span>
      </li>
      <li>
        <button class="d-flex align-items-center last-menu-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M3 21V3h9v2H5v14h7v2zm13-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"
            />
          </svg>
          Logout
        </button>
      </li>
    </ul>
  </div>
</div>
