<div class="side-nav-content">
  <div class="top-section">
    <img class="logo" src="exaze-logo.jpg" alt="" />
    <div class="profile-container">
      <img
        src="/icons/fluent--person-32-filled.png"
        class="profile-icon profile-img-icon"
        alt=""
      />

      <div class="profile-creds">
        <p class="employee-name">{{ name }}</p>
        <p class="employee-email">{{ email }}</p>
      </div>
    </div>
    <div class="p-2 dashboard-title-container">
      <img src="/icons/dashboard-icon.png" class="dashboard-icon" alt="" />
      <h1 class="dashboard-title">Dashboard</h1>
    </div>
  </div>

  <div class="menu-section">
    <ul class="side-nav-list">
      <li *ngFor="let item of navItemList">
        <button
          class="d-flex align-items-center gap-2 nav-button"
          (click)="onNavChange(item.routePath)"
        >
          <img src="{{ item.icon }}" alt="" />
          {{ item.item }}
        </button>
      </li>
    </ul>
  </div>
  <div class="menu-logout-btn">
    <button class="d-flex align-items-center logout-btn" (click)="logout()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M3 21V3h9v2H5v14h7v2zm13-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"
        />
      </svg>
      Logout
    </button>
  </div>
</div>
